# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build files
build
build2/ripple-libpp.build/Debug-iphoneos/ZERO_CHECK.build/dgph
build2/ripple-libpp.build/Debug-iphonesimulator/ZERO_CHECK.build/dgph
build2/ripple-libpp.build/Debug-iphonesimulator/ZERO_CHECK.build/Script-A91D8A135CBE4CCCB8204442.sh
build2/ripple-libpp.xcodeproj/project.xcworkspace/xcuserdata/TuanNguyen.xcuserdatad/UserInterfaceState.xcuserstate
build2/ripple-libpp.xcodeproj/xcuserdata/TuanNguyen.xcuserdatad/xcschemes/ripplelibppdemo.xcscheme
build2/src/test/ripple-libpp.build/Debug-iphoneos/ripplelibppdemo.build/dgph
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/ripplelibppdemo.LinkFileList
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/ripplelibppdemo.LinkFileList
build2/src/unity/ripple-libpp.build/Debug-iphoneos/ripplelibpp.build/dgph
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/dgph
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/i386/ed25519_donna.dia
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/x86_64/ed25519_donna.dia
CMakeCache.txt
ReRunCMake.make
dgph
build2/Debug/
build2/Release/
build2/src/
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/i386/ripple-libpp.dia
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/x86_64/ed25519_donna.d
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/x86_64/ripple-libpp.dia
build2/ripple-libpp.build/
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/ripplelibppdemo.app.xcent
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Base.lproj/Main.storyboardc/LCu-va-YWC-view-cmB-c1-7yW.nib/objects-11.0+.nib
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Base.lproj/Main.storyboardc/LCu-va-YWC-view-cmB-c1-7yW.nib/runtime.nib
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Base.lproj/Main.storyboardc/UIViewController-LCu-va-YWC.nib/objects-11.0+.nib
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Base.lproj/Main.storyboardc/UIViewController-LCu-va-YWC.nib/runtime.nib
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/ripple-libpp_demo-56171F30975F627B.d
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/ripple-libpp_demo-56171F30975F627B.dia
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/ripplelibppdemo
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/ripplelibppdemo_dependency_info.dat
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/VPay365Wallet.d
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/i386/VPay365Wallet.dia
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/ripple-libpp_demo-56171F30975F627B.d
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/ripple-libpp_demo-56171F30975F627B.dia
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/ripplelibppdemo
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/ripplelibppdemo_dependency_info.dat
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/VPay365Wallet.d
build2/src/test/ripple-libpp.build/Debug-iphonesimulator/ripplelibppdemo.build/Objects-normal/x86_64/VPay365Wallet.dia
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/i386/VPay365Wallet.d
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/i386/VPay365Wallet.dia
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/x86_64/VPay365Wallet.d
build2/src/unity/ripple-libpp.build/Debug-iphonesimulator/ripplelibpp.build/Objects-normal/x86_64/VPay365Wallet.dia
ripplelibppdemo
xcschememanagement.plist
ripple-libpp.build
